.app-header {
  display: flex;
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

.header {
  display: flex;
  flex: 4;
  justify-content: flex-start;
  position: absolute;
  top: 75%;
  left: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  position: absolute;
  top: 25%;
  right: 0;
}
