
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

a {
  color: black;
}

a.button {
  background: #ffff;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

.app-header {
  display: flex;
  position: absolute;
  width: 375px;
  height: 92px;
  left: 30px;
  top: 200px;
  background: #3c3a39;
}

header {
  color: #ffff;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

.app-homepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  width: 375px;
  height: 590px;
  left: 30px;
  top: 292px;
  background: #1c1a19;
}

h1 {
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-style: normal;
  size: 24px;
  color: #fff5e1;
  display: flex;
}

h3 {
  font-family: poppins;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  color: #fff;
  display: flex;
}

.soicals {
  display: flex;
  list-style: none;
  position: static;
}

.background {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

.menu-bar {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}
